node_modules
dist
coverage
.turbo
*.log
.DS_Store
.env
.env.*
!.env.example

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Vitest
.vitest-cache
.vitest-attachments
__screenshots__

# tsdown
.tsbuildinfo
