@import "@sleekdesign/ui/styles/globals.css";

@source "../../../internal/ui/src";
@source ".";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
}
